
 <div class="imgshow">
<div class="col-md-4" >
<%= image_tag @product.product_img.url(:product_show), class: "product-show" %>
</div>
 </div>





 <ul style="display: inline-block">

    <li style="display: inline-block">
    
    <div class="product-info">    
     
      <div class="product-name">
        <h1 style="color: black">Emri i Produktit: <span style="font-size: 34px; color: red"> <%= @product.title %></span> </h1>
            <div class="product-code">    
        <hr>
        <h3 style="color: black">Kodi: <span style="font-size: 24px; color: blue"> <%= @product.kodi %> </span></h3>
           </div>
           <hr>
            <div class="product-prize">    
        <h4 style="color: black">Qmimi: <span style="font-size: 18px; color: #99a38f"><%= @product.qmimi %>€</span></h4>
     </div>
     
     </div>
    </li>

</ul>
<% if logged_in? %>
  <% if @product.user_id == current_user.id %>      
 
<div class="butons">
<%= link_to 'Ndryshoni Produktin', edit_product_path(@product), class: "btn btn-secondary", class: "btn-custom" %>
<%= link_to 'Fshijeni Produktin', product_path(@product), method: :delete, data: {confirm: "A jeni i sigurt?"}, class: "btn-custom2" %> 
</div>
<% end %> 

<% end %>



