<!DOCTYPE html>
<html>
  <head>
    <title>Npshkodra</title>
    <%= csrf_meta_tags %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script>
  
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand tan" href="#">NPSHKODRA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <div class="w3-top container">

    <div>
    <ul class="navbar-nav">
      <li class="nav-item tan">
         <%= link_to "Ballina", home_path , class: "nav-link tan" %>
      </li>
            <li class="nav-item tan">
        <a class="nav-link" href"#" style="font-size: 10px">|</a>
      </li>
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"    
           aria-expanded="false">Modelet<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
          <% Category.all.each do |category| %>
          <li>
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
            <%= link_to 'Te gjitha', products_path, class: "link" %>     
          </a>
          </li>
          
          </li>
        <% end %>
        </ul>      
        </li>
    
    
      <li class="nav-item tan">
        <a class="nav-link" href"#" style="font-size: 10px">|</a>
      </li>
      <li class="nav-item tan">
        <a class="nav-link" href="#">Katalogi</a>
      </li>
      <li class="nav-item tan">
        <a class="nav-link" href"#" style="font-size: 10px">|</a>
      </li>
      <li class="nav-item tan">
        <a class="nav-link" href="#">Lokacioni</a>
      </li>
      <li class="nav-item tan">
        <a class="nav-link" href"#" style="font-size: 10px">|</a>
      </li>
      <li class="nav-item tan">
        <a class="nav-link" href="#">Rreth nesh</a>
      </li>
      <li class="nav-item tan">
        <a class="nav-link" href"#" style="font-size: 10px">|</a>
      </li>

 <li class="nav-item tan">
   <% if logged_in? %>
              <%= link_to 'Shto Produkt', new_product_path, class: "nav-link" %>
                 <% end %>
                 
                 </li>
    <li class="nav-item tan">
         <% if logged_in? %>

        <a class="nav-link" href"#" style="font-size: 10px">|</a>
         <% end %>
         
      </li>
    

            <li class="nav-item tan">

       <% if logged_in? %>
          <%= link_to 'Log out', logout_path, method: :delete, class: "nav-link" %>
        <% end %>
        </li>
    
    
    </ul>
  </div>
  </div>
  </div>
</nav>
     <%= yield %>
  </body>
</html>
