<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <title>N.P. Shkodra</title>
    <script src="https://kit.fontawesome.com/c4c81ac5b7.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="top-bar md-padding dialogdemoBasicUsage" id="popupContainer">
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <div class="col-md-6 col-sm-6">

                    <ul class="left topbar-blocks">
                        <li><a href="mailto:info@yourdomain.com"><i class="em em-email sads" aria-hidden="true"></i><span style="font-family: Karla, sans-serif; font-color: white; font-size: 11.5px;"> info@shkodragroup.com </span></a></li>
                        <li><a href="tel:+0801 2345 6789"><i class="em em-phone sads" aria-hidden="true"></i><span style="font-family: Karla, sans-serif; font-color: white; font-size: 11.5px">  +383 49 844 225

                        </span></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="topbar-blocks">
                        
                    <% if logged_in? %>
                    <li style="font-size: 11.5px"> <%= current_user.name %></li>
                    <% else %>
                    <li style="font-size: 15px" href="/login"> Login </li>
                    <% end %>
                    </ul>
                </div>
            </div>
            <!-- Row End -->
        </div>
    </div>

<div class="navs">
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle"/>
        <div class="menuve" style="color: black;">
            <a href="/home">Ballina</a>
            <a href="/products">Produktet</a>
            <a href="/kontakti">Kontakti</a>
        </div>
    </div>
    <%= yield %>

</body>




<!-- Footer Menu -->
<footer id = "footer"> 
		
	<!-- Company Details -->
	<!-- 1. Address 
		2. Contact Number 
		3. Enquiry Mail 
	-->
	<div class="company-details"> 
		<div class="row"> 
			<div id ="col1"> 
				<span id = "icon" class="fa fa-map-marker"></span> 
					
				<span> 
					710-B, Advant Navis Business Park, 
					<br />Sector-142, Noida 
				</span> 
			</div> 
				
			<div id ="col2"> 
				<span id="icon" class="fa fa-phone"></span> 

				<span> 
					Telephone:  +383 49 844 225 
				</span> 
			</div> 
					
			<div id ="col3"> 
				<span id="icon" class="fa fa-facebook"></span> 
				<span>npshkodra@gmail.com</span> 
			</div> 
		</div> 
	</div> 
			
	<!-- Copyright Section -->
	<div class="copyright"> 
		<p>© All rights reserved | NP Shkodra.</p> 
	
		<ul class="contact"> 
			<li> 
				<a href="#" class="fa fa-twitter"> 
					<span>Twitter</span> 
				</a> 
			</li> 
			
			<li> 
				<a href="#" class="fa fa-facebook"> 
					<span></span> 
				</a> 
			</li> 
			
			<li> 
				<a href="#" class="fa fa-rss"> 
					<span>Pinterest</span> 
				</a> 
			</li> 
		</ul> 
	</div> 
</footer> 





    </html>